{% extends 'base.html' %}

{% block content %}
    <header>
        <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'account_list' %}">Account</a>
        <a href="{% url 'category_list' %}">Category</a>
        <a href="{% url 'create_category' %}">Create Category</a>
        <a href="{% url 'create_account' %}">Create Account</a>

        {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
        </nav>
    </header>
    <main>
        <div>
            <h1>Categories</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.receipts.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
