{% extends 'base.html' %}

{% block content %}
    <header>
        <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'account_list' %}">Account</a>
        <a href="{% url 'category_list' %}">Category</a>
        <a href="{% url 'create_category' %}">Create Category</a>
        <a href="{% url 'create_account' %}">Create Account</a>

        {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
        </nav>
    </header>
    <main>
        <h1>Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.name }}</td>
                        <td>{{ account.number }}</td>
                        <td>{{ account.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
